* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
html,
body {
  scroll-behavior: smooth;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
img {
  border: 0;
  vertical-align: middle;
}

.wrap {
  width: 100%;
  margin: 0 auto;
  background-color: #ededed;
}
.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  color: #cfcece;
  width: 100%;
  height: 60px;
  background: linear-gradient(to right, #414141, #727272);
  z-index: 1;
  align-items: center;
  padding-right: 150px;
}
#logo-img{
  position: relative;
  width: 210px;
  text-align: center;
  align-items: center;
}

.main {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.sidebar {
  position: fixed;
  width: 240px;
  height: 100%;
  background: linear-gradient(to bottom, #414141, #535353, #366248);
}
.sidebar {
  position: fixed;
  padding-top: 40px;
  padding-left: 30px;
  width: 240px;
  height: 100%;
  gap top;
  color: #cfcece;
  background: linear-gradient(to bottom, #414141, #505050, #366248);
}
.sidebar a:visited, a:active {
    color: inherit; /* 클릭 후에도 색상 유지 */
    text-decoration: none; /* 클릭 후에도 밑줄 제거 */
}
.sidebar a{
  color: #cfcece; /* 기본 링크 색상 */
  text-decoration: none; /* 밑줄 제거 */
}

input {
  width: 300px;
  height: 28px;
  padding: 10px;
  font-size: 15px;
  border: .5px solid #414141;
  border-radius: 10px;
  background-color: #ededed;
  font-size: 15px;
}
input:focus {
  outline: none;
background-color: #505050;
color: #ededed;
}
.bodywrap {
  position: relative;
  margin-left: 240px;
  width: calc(100% - 240px);
}
.home-wrap {
  font-family: "Nanum Barun Gothic", sans-serif;
}
.bodywrap {
  position: relative;
  margin-left: 240px;
  width: calc(100% - 240px);
}
.home-wrap {
  font-family: "Nanum Barun Gothic", sans-serif;
}

#home{
  position: relative;
  width: 100%;
  height: 1100px;
}
#profile{
  position: relative;
  width: 100%;
  height: 2100px;
}


.profile-wrap{
  position: relative;
  background-color: #ededed;
  padding-top: 100px;
}
#myContents{
  padding-left: 15px;
  font-size: 15px;
  font-family: "Nanum Barun Gothic", sans-serif;
}
li{
  position: relative;
  width: 180px;
  height: 32px;
  padding-left: 15px;
  gap: 16px;
  font-size: 15px;
  font-family: "Nanum Barun Gothic", sans-serif;
  display: flex;
  align-items: center;
}
li:first-child{
  margin-top: 7px;
}
li:hover {
  background-color: #366248; /* 마우스를 올렸을 때도 동일한 색상 */
  border-radius: 8px;
}

/* 첫화면 배경 이미지 */
/* 메인 첫째줄 텍스트 */
.page1{
  position: relative;
  display: contents;
}
.line-1{
  position: relative;
  display: flex;
  margin-top: 85px;
  margin-bottom: 5px;
  margin-right: 120px;
  align-items: center;
  float: right;
}
.name{
  position: relative;
  line-height: 10px;
}
.text{
  position: relative;
  margin-left: 13px;
  font-size: 45px;
  font-family: "Nanum Barun Gothic", sans-serif;
  letter-spacing: -4px;
  font-weight: lighter;
  color: #707070;
  text-align: center;
}
#line-1-port{}

/* 메인 사진 영역 */
.line-2{
  position: relative;
  margin-left: 90px;
  justify-content: center; /* 가로 가운데 정렬 */
  align-items: center; 
  align-items: center;

}
#mainimg{
  position: relative;
  width: 1480px;
  opacity: 85%;
}

/* 메인 하단 텍스트 */
.line-3{
  position: relative;
  text-align: center;
  line-height: 1.5;
  margin-top: 25px;
  font-size: 15px;
  font-family: sans-serif;
  color: #555555;
}
#date{
  margin-left: 10px;
  font-size: 13px;
  color: #9e9e9e;
}



section {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #ededed;
}

/* 2 기본이력 */
.profile-wrap{
  position: relative;
  margin: 0;
  padding: 0;
}
.page-2{
  position: relative;
  margin: 0;
  padding: 0;
}
.part1{
  position: relative;
  display: flex;
  padding-top: 100px;
}
.part1-title{
  position: relative;
  gap: 139px;
  margin-top: 30px;
  margin-left: 150px;
  margin-right: 0;
  font-family: "Nanum Barun Gothic", sans-serif;
  font-size: 30px;
  font-weight: lighter;
  color: #727272;
}
.pro{
  width: 191px;
  height: 260px;
  margin: 0 55px;
}
.license{
  padding-top: 35px;
  width: 239px;
  height: 155px;
  margin: 0 55px;
}
.activity{
  width: 239px;
  height: 533px;
  margin: 0 55px;
  padding-top: 290px;
}
.skill{
  padding-top: 140px;
  padding-bottom: 100px;
  width: 239px;
  height: 220px;
  margin: 0;
  text-align: right;
}
.part1-in{
  position: relative;
  font-family: "Nanum Barun Gothic", sans-serif;
  font-size: 16px;
  color: #555555;
  line-height: 2;
}
.part1-in-1{
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.pro2{}
.photo1{
position: relative;
}
#photo2{
  border-radius: 20px;
  width: 170px;
  margin: 0;
}
.license2{
  position: relative;
  padding-top: 70px;
}
#sebu1{
  text-indent: 20px;
  font-size: 14px;
}
p{
  text-indent: 20px;
  font-size: 14px;
}
#sebu2{}
#sebu3{}
.activity2{
  position: relative;
  padding-top: 110px;
}
.skill2{
  position: relative;
  display: flex;
  justify-content: center; /* 가로 가운데 정렬 */
  align-items: center;     /* 세로 가운데 정렬 */
  height: 100%; /* 화면 전체 높이 설정 */
}
.skill3{
  position: relative;
  margin-top: 50px;
  display: flex;
  justify-content: center; /* 가로 가운데 정렬 */
  align-items: center;     /* 세로 가운데 정렬 */
  height: 100%; /* 화면 전체 높이 설정 */
}

/* 3 콘텐츠 영역  */
.contents-wrap{
  position: relative;
}
.category-all{
  position: relative;
  width: 100%;
  height: 170px;
  padding: 30px 70px;
  padding-top: 600px;
}
.category-box0{
  position: relative;
  width: 1600px;
  height: 100%;
  font-family: "Nanum Barun Gothic", sans-serif;
}
.category{
  position: relative;
  font-size: 45px;
  font-weight: bold;
  letter-spacing: -2px;
  color: #414141;
  font-family: "Nanum Barun Gothic", sans-serif;
}
.category-box1{
  position: relative;
  width: 100%;
  height: 30px;
  gap: 16px;
  display: flex;
  text-align: center;
  align-items: center;

}
.category-button{
  position: relative;
  width: 79px;
  height: 27px;
  line-height: 26px;
  align-items: center;
  background-color: #366248;
  border-radius: 10px;
  font-size: 15px;
  font-family: "Nanum Barun Gothic", sans-serif;
  color: #cfcece;
}
.category-box1{
  position: relative;
  padding-left: 5px;
  margin-top: 15px;
  margin-bottom: 5px;
}
.category-box1 span{
  position: relative;
  text-align: center;
  align-items: center;
  font-size: 14px;
  color: #414141;
  font-family: "Nanum Barun Gothic", sans-serif;
}
.banner-bk{
position: relative;
width: 1680px;
height: 424px;
opacity: 85%;
}
.banner-bk2{
position: relative;
width: 100%;
height: ;
}
.video-text1{
  position: relative;
  margin-top: 70px;
  margin-left: 90px;
  margin-bottom: 30px;
  padding-top: 100px;
  font-size: 23px;
  font-weight: bold;
  letter-spacing: -2px;
  color: #585858;
  font-family: sans-serif;
}
.video-box{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  padding: 0 80px 0 80px;
  gap: 35px;

}
#youtubeVideo {
  /* border: 1px solid #555555;  테두리 색상 및 두께 */
  border-radius: 10px;  /* 둥근 모서리 */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);  /* 그림자 효과 */
  transition: transform 0.3s ease;  /* 애니메이션 */
}

#youtubeVideo:hover {
  transform: scale(1.03);  /* 마우스를 올렸을 때 확대 효과 */
  /* border: 2px solid #366248;  테두리 색상 및 두께 */
}